/* Props to https://wweb.dev/resources/animated-css-background-generator */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #123456;
    overflow: hidden;
	  z-index: -1;
}
.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 19;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.background span:nth-child(0) {
    color: #ffffff;
    top: 97%;
    left: 37%;
    animation-duration: 300s;
    animation-delay: -287s;
    transform-origin: -12vw 19vh;
    box-shadow: -100vmin 0 13.308164748123579vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 36%;
    left: 48%;
    animation-duration: 158s;
    animation-delay: -286s;
    transform-origin: -4vw -21vh;
    box-shadow: 100vmin 0 12.913867916315475vmin currentColor;
}
.background span:nth-child(2) {
    color: #80ffff;
    top: 52%;
    left: 64%;
    animation-duration: 137s;
    animation-delay: -105s;
    transform-origin: 4vw -6vh;
    box-shadow: 100vmin 0 12.94763532060813vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffffff;
    top: 12%;
    left: 66%;
    animation-duration: 9s;
    animation-delay: -25s;
    transform-origin: -15vw -24vh;
    box-shadow: -100vmin 0 13.278617602226307vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 18%;
    left: 51%;
    animation-duration: 272s;
    animation-delay: -259s;
    transform-origin: -10vw 8vh;
    box-shadow: 100vmin 0 13.000311090624406vmin currentColor;
}

body {
  color: white;
  margin: 0px;
  cursor: url('/images/whitepaw.png') 12 12, auto;

}

a {
  color: salmon;
  cursor: url('/images/orangepaw.png') 12 12, pointer;
}

.sidebar {
	background-color: black;
	min-width: 150px;
    width: 170px;
    max-width: 100%;
    max-height: calc(100vh - 10px);
    min-height: 300px;
	text-align: center;
    list-style-position: inside;
	border: 5px groove #676767;
    padding: 5px;
    padding-bottom: 3px;
    margin: 5px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 5px;
}

@media screen and (max-width: 1190px) {
  .sidebar {display: none !important;}
}

.main {
	background-color: black;
    /* min-width: 40vw; */
	width: 1000px;
    max-width: 95vw;
	text-align: center;
    list-style-position: inside;
	border: 5px groove #676767;
	margin: 5px;
    box-sizing: border-box;
}

.cli {
    padding: 10px;
	text-align: left;
    font-family: monospace;
    font-size: 12pt;
}

.cursor {
  content: '_';
  display: inline-block;
  animation: blink 1s steps(1, end) infinite;
  font-weight: bold;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blinkies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fire {
    background: 
        url("https://adriansblinkiecollection.neocities.org/dividers/firedivider.gif") repeat-x bottom -2px left -150px,
        url("https://adriansblinkiecollection.neocities.org/dividers/firedivider.gif") repeat-x bottom -2px right 150px,
        url("https://adriansblinkiecollection.neocities.org/dividers/firedivider.gif") repeat-x bottom -2px left -50px,
        url("https://adriansblinkiecollection.neocities.org/dividers/firedivider.gif") repeat-x bottom -2px right 50px;
    background-color: black;
}

.blinkies>img {
    margin: 3px;
}